{% extends 'admin/base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block content %}
    <h1>Here will be the dashboard!</h1>
    For now, you can manage news articles or categories from top menu.
{% endblock %}
